<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/home.css' />
    <script type="text/javascript" src="javascripts/home.js"></script>
  </head>
  <body>
    <header>
      <div id="header_div1">
          <h1 id="h">ver momcham studio</h1>
      </div>
      <div id="header_div2">
          <input type="button" value="TV Channels" onclick="">
          <input type="button" value="Movies" onclick="myFunction_movies()">
      </div>
  </header>
  <div id="main_div">
      <div id="cell_1" >
          <a id="title" aria-label="via_sat_history" title="via_sat_history" href="http://tvekran.net/viasat-history.html">Via Sat History</a><br>
          <img height="16" width="16" src='http://www.google.com/s2/favicons?domain=www.viasathistory.eu/' />
      </div>
      <div id="cell_2" >
          <a id="title" aria-label="via_sat_nature" title="via_sat_nature" href=""> Via Sat Nature</a><br>
          <img height="16" width="16" src='http://www.google.com/s2/favicons?domain=www.viasatnature.eu/' />
      </div>
      <div id="cell_3" >
          <a id="title" aria-label="via_sat_action" title="via_sat_action" href=""> Via Sat Action</a><br>
          <img height="16" width="16" src='http://www.google.com/s2/favicons?domain=www.viasataction.eu/' />
      </div>
      <div id="cell_4" >
          <a id="title" aria-label="via_sat_action" title="via_sat_action" href="http://sports25.hdgo.site/124-baviasat-sport.html"> Via Sat Sport</a><br>
          <img height="16" width="16" src='http://www.google.com/s2/favicons?domain=www.www.viasat-channels.tv/channel/viasat_sport' />
      </div>
      <div id="cell_5" >
          <a id="title" aria-label="history_channel" title="history_channel" href=""> History Channel</a> <br>
          <img height="16" width="16" src='http://www.google.com/s2/favicons?domain=www.history.com/' />
      </div>
      <div id="cell_6" >
          <a id="title" aria-label="tv1000" title="tv1000" href="http://sports25.hdgo.site/175-kktv1000.html"> TV1000</a><br>
          <img height="16" width="16" src='http://www.google.com/s2/favicons?domain=www.viasat-channels.tv/' />
      </div>
      <div id="cell_7" >
          <a id="title" aria-label="kinomix" title="kinomix" href="http://2tv.one/kinomix"> kinomix</a><br>
          <img height="16" width="16" src='http://www.google.com/s2/favicons?domain=www.ntvplus.ru/channel/kinomiks-128/' />
      </div>
  </div>
  </body>
</html>
