<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/mvies.css">
    <script type="text/javascript" src="javascripts/home.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header_div1">
            <h1 id="h">ver momcham studio</h1>
        </div>
        <div id="header_div2">
            <input type="button" value="TV Channels" onclick="myFunction()">
            <input type="button" value="Movies" onclick="myFunction_movies()">
            <input type="button" value="Store" onclick="myFunction_store()">
            <input type="button" value="Login" onclick="">
        </div>
    </header>
    <div>
        
    </div>
    <h1>Error 404</h1>
    <p>Page under construction</p>
</body>
</html>